---
import '../styles/globals.css'
import Metatags from '../components/Metatags.astro';

export interface Props {
	title: string;
  zone: string;
}

const { title, zone } = Astro.props
const path = zone === 'bogota' ? '' : '/'
---

<!DOCTYPE html>
<html lang="es">
	<head>
    <!-- Google Tag Manager --> <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-PB33WX8');</script> 
    <!-- End Google Tag Manager -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <link rel="icon" href={`${path}favicon-32x32.png`} sizes="32x32">
    <link rel="icon" href={`${path}favicon-192x192.png`} sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href={`${path}favicon-180x180.png`}>
    <Metatags route="main" />
    <!-- ANALITYCS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49465114-15"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49465114-15');
    </script>
    <!-- ADS -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-737594446"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-737594446');
    </script>
	</head>
	<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB33WX8" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<!-- End Google Tag Manager (noscript) -->
    <slot />
	</body>
</html>
